# Database
DATABASE_URL="postgresql://neondb_owner:YOUR_PASSWORD@ep-shy-breeze-aokdtkvd-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require"

# Admin Authentication
# Chi co tai khoan nay duoc phep dang nhap admin
ADMIN_USERNAME="thanhlamstore"
ADMIN_PASSWORD="thanhlam94"

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
CLOUDINARY_UPLOAD_PRESET="thanhlam_store"

# App
NEXT_PUBLIC_APP_URL="thanhlamstore.vercel.app"
