# Database
DATABASE_URL="postgresql://user:password@ep-xxx-xxx-123456.us-east-2.aws.neon.tech/neon_db?sslmode=require"

# Admin Authentication
# Chi co tai khoan nay duoc phep dang nhap admin
ADMIN_USERNAME="thanhlamstore"
ADMIN_PASSWORD="thanhlam94"

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
CLOUDINARY_UPLOAD_PRESET="thanhlam_store"

# App
NEXT_PUBLIC_APP_URL="thanhlamstore.vercel.app"
